<div id="home-page__container">
  <div class="container__spotlight">
    <div class="spotlight__banner"></div>
    <div style="padding: 16px 8px">
      <div class="spotlight__title">Marvel's Spider-Man 2</div>
      <div>Sejam Melhores. Juntos.</div>
    </div>
  </div>
  <div class="container__games">
    <app-card
      gameCover="assets/bt-1.jpg"
      gameLabel="DIGITAL"
      gameType="DIGITAL | PS4"
      gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
      gameCover="assets/bt-4.jpg"
      gameLabel="EXCLUSIVE"
      gameType="DISC | PS5"
      gamePrice="R$ 269,99"
    >
    </app-card>
  </div>
  <div class="container__caroussel"></div>
</div>
